*.log
*.aux
*.gz
*.zip
*.exe
*.jar
*.stackdump
*.index
*.name
*.xml
*.iml
*.lock
tools/.metadata/*
cache/*
.sass-cache/*
.idea/*
vendor/*
content/themes/oms-slim/backend/css/*
node_modules/*
.vagrant/*
composer.phar
Docs/Code/*