*.log
*.aux
*.gz
*.zip
*.jar
*.exe
*.stackdump
*.index
*.name
*.xml
*.map
*.iml
*.lock
*.phar
*.css
built.js
oms.min.js
tools/.metadata/*
cache/*
.sass-cache/*
.idea/*
vendor/*
External/*
bower_components/*
content/themes/backend/css/*
node_modules/*
.vagrant/*
composer.phar
Docs/Code/*
Docs/Dependencies/*
Docs/Stats/*
Dev/puphpet/files/*
Dev/puphpet/puppet/*
Dev/puphpet/shell/*
test.php
MSG.md
*NOGIT*